@model BasePageViewModel

@{
	var title = "BeF!t";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@title</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="~/css/signin.css">
	<link rel="stylesheet" type="text/css" href="~/css/headers.css">
	<link rel="stylesheet" type="text/css" href="~/css/styles.css">
</head>

<body>
	<header class="p-3 bg-dark text-white">
		<div class="container">
			<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
					<img class="bi me-2" width="63" height="50" role="img" src="logo.svg" alt=""><img />
					<span>@title</span>
				</a>

				<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				</ul>

				<div class="text-end">
					<button type="button" class="btn btn-outline-light me-2" onclick="window.location.href='/signin'">Login</button>
					<button type="button" class="btn btn-warning" onclick="window.location.href='/register'">Sign-up</button>
				</div>
			</div>
		</div>
	</header>

	<div class="container">
		@RenderBody()
	</div>

	<footer class="border-top footer text-muted">
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
